/*common*/
body {
  margin :0;
}

* {
  box-sizing: border-box;
}



@font-face {
  font-family: "UniversLTStd";
  font-style: normal;
  font-weight: 300;
  src: url(./fonts/UniversLTStd-UltraCn.woff) format("woff")
}

@font-face {
  font-family: "OfficinaSansStd";
  font-style: normal;
  font-weight: 300;
  src: url(./fonts/OfficinaSansStd-Book.woff) format("woff")
}

@media (min-width: 800px)
.banner p.title {
  font-size: 100px;
}


h1 {
    font-family: "UniversLTStd", Arial, sans-serif;
    font-weight: normal;
    font-size: 59px;
    line-height: 1;
    text-transform: uppercase;
    color: #043f8b;
}


/* banner*/
.banner {
  position: relative;
  overflow: hidden;
}

.banner:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 380px;
  background: #dceffd;

}

.banner-img {
  margin-top: 380px;
  background-image: url(banner-img.jpg);
  height: 100vw;
  background-size: 100%;
  background-repeat: no-repeat;
}

.banner .content {
  color: #2d2d2d;
  text-align: center;
  position: absolute;
  font-family: "UniversLTStd", Arial, sans-serif;
  top: 90px;
  left: 20px;
  right: 20px;
  animation-name: slideRight;
  animation-duration: .7s;
}

@keyframes slideRight{
  from{
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.banner small {
  background-color: #043f8b;
  color: white;
  font-size: 24px;
  line-height: 5px;
  padding: 10px;
  display: inline-block;
}

.banner p {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.banner p.title {
  font-size: 72px;
  margin: 25px 0;
  line-height: 65px;
  padding: 25px;
  position: relative;
}


.banner p.title:after {
  width: 95px;
  height: 1px;
  background-color: #043f8b;
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 39%;
}

/*header*/
.header {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  padding: 70px 20px 90px;
}
.header p.description {
  font-family: "UniversLTStd", Arial, sans-serif;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  text-transform: uppercase;
  color: #2d2d2d;
}
.header p {
  font-family: "OfficinaSansStd", Arial, sans-serif;
  color: #2d2d2d;
  -webkit-font-smoothing: antialiased;
  margin-top: 33px;
  font-size: 18px;
}
.button {
  font-family: "UniversLTStd", Arial, sans-serif;
  color: #043f8b;
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #043f8b;
  border-radius: 50px;
  padding: 16px 40px;
  position: relative;
  top: 45px;
}
.divider {
  width: 80%;
  display: block;
  position: relative;
  top: 85px;
  margin: 0 auto;
}
